code { font-weight: bold; font-family: monospace; font-size: 14px;}
code.not5, span.not5 { color: #aaaaaa; background-color: transparent; }
code.new5, span.new5 { color: #b52c25; background-color: transparent; }
code.new5but, span.new5but { color: #e07f7a; background-color: transparent; }
.code_par { margin-left: 40px; font-weight: bold; font-family: monospace; font-size: 14px; display: block;}
html { color: black; background-color: rgb(220,220,220); font-family: arial, Sans-serif; color: rgb(40,40,40);}
html, header, nav, article, section, footer, figure, aside { display: block; margin-left: 10px; margin-right:10px;}
nav, article, section, footer, figure, aside { 
	display: block; padding: 10px; width: 1000px; 
	background-color: rgb(245,245,245); margin: auto;}
header, footer {position: relative; width: 90%;}
h1, h2, h3 { text-align: center; background-color: SteelBlue; color: white; }
li {margin-top: 10px;}
header, footer { background-color: #6B9BC3; color: rgb(240,240,240); 
	position: fixed; height: 40px; font-size: 16px; 
	font-family: "Bree Serif", Georgia, serif; padding: 0 5%;
	border-radius: 5px; box-shadow: 0 0 4px 2px rgba(0,0,0,.7);
	font-weight: bold;}
header{top: 5px;}
article {margin-top: 50px; box-shadow: 0 0 8px 2px rgba(0,0,0,.7);}
article, header, footer { border-radius: 5px;}
.left{position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-20%, -50%);}
.right{position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(30%, -50%);}
